<?xml version="1.0"?>

<!--
# Launch file for the State Machine stack.
# Author: Sagar Doshi
# Date: 05/18
-->

<launch>

    <!-- Launch initial parameter -->
<!--
    <node pkg="state_machine" type="initialise_parameters.py" name="set_parameters" output="screen"/>
-->

    <!-- Launch Hotword Detection -->
    <include file="$(find hotword)/launch/hotword.launch"/>

    <!-- Launch speech recognition -->
    <include file="$(find speech_rec)/launch/speech_rec.launch"/>

    <!-- Launch interpreter -->
    <include file="$(find interpreter)/launch/interpreter.launch"/>

    <!-- Launch Camera -->
    <include file="$(find environment)/launch/usb_cam-parent.launch"/>

    <!-- Launch Database -->
    <!-- <include file="$(find state_machine)/launch/database.launch"/> -->

    <!-- Launch Object Detection -->
    <include file="$(find state_machine)/launch/object_dect.launch"/>

    <!-- Launch Face Detection -->
    <include file="$(find state_machine)/launch/face_dect.launch"/>

    <!-- Launch Face Training COMMENTED OUT UNTIL WE FIND OUT WHY IT DOESN'T WORK-->
    <!-- <include file="$(find face_training)/launch/face_training.launch"/> -->

    <!-- Launch Particulars Detection -->
    <include file="$(find state_machine)/launch/particular_dect.launch"/>


    <!-- Launch Audio Out -->
    <include file="$(find audio_out)/launch/audio_out.launch"/>

    <!-- Launch Pointing -->
    <include file="$(find pointing)/launch/pointing.launch"/>

    <!-- Launch Display -->
    <include file="$(find baxter_display)/launch/display_controller.launch"/>

    <!-- Launch Orientation -->
    <include file="$(find bosch_imu_emilk)/launch/orientation_controller_onspot_v2.launch"/>
    <include file="$(find bosch_imu_emilk)/launch/rotation.launch"/>

    <!-- Start the brain -->
    <node pkg="state_machine" type="sm_main.py" name="sm_main" output="screen">


    </node>


</launch>
